manifest {
  name        = 'viSUM'
  author      = '<Your Name>'
  description = 'viSUM/viCAT Nextflow pipeline'
  version     = '0.1.0'
}

params {
  // SINGLE mode
  input        = null
  prefix       = null
  type         = null   // dna|rna

  // MULTI mode
  indir        = null
  prefix_many  = null   // CSV: prefix,type,fasta

  // resources
  threads      = 8
  memory       = '8 GB'
  time         = '2h'

  // output
  outdir       = 'results'
  dbdir        = "databases"     // user can override: --dbdir /work/dbs
}

timeline {
  enabled = true
  file    = "${params.outdir}/reports/timeline.html"
}
report {
  enabled = true
  file    = "${params.outdir}/reports/report.html"
}
trace {
  enabled = true
  file    = "${params.outdir}/reports/trace.txt"
}
dag {
  enabled = true
  file    = "${params.outdir}/reports/dag.png"
}

process {
  executor      = 'local'
  cpus          = { params.threads }
  memory        = { params.memory }
  time          = { params.time }
  errorStrategy = 'retry'
  maxRetries    = 1
}

profiles {

  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    process.queue    = 'standard'
    process.time     = '12h'
    // process.clusterOptions = '--account=myaccount'  // optional
  }

  docker {
    docker.enabled    = true
    docker.pull       = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  singularity {
    singularity.enabled   = true
    singularity.autoMounts = true
  }
}

// Conda settings (GLOBAL)
conda.enabled  = true
conda.useMamba = true
conda.cacheDir = "${params.outdir}/.conda"

workDir            = "./work"
cleanup            = false
executor.queueSize = 100
