manifest {
  name        = 'viSUM'
  author      = '<Your Name>'
  description = 'viSUM/viCAT Nextflow pipeline'
  version     = '0.1.0'
}

params {
  // SINGLE mode
  input        = null
  prefix       = null
  type         = null   // dna|rna

  // MULTI mode
  indir        = null
  prefix_many  = null   // CSV: prefix,type,fasta

  // resources
  threads      = 8
  memory       = '8 GB'
  time         = '2h'

  // output
  outdir       = 'results'
  dbdir        = "${projectDir}/databases" // persistent viSUM-managed databases

  // geNomad
  run_genomad             = true
  genomad_db              = null  // optional user-supplied database directory
  genomad_auto_download   = true
  genomad_version         = '1.12.0'
  genomad_splits          = 0     // fastest; increase to reduce memory usage
  genomad_cleanup         = true

  // Params you probably don't need to touch, but could if you wanted.

  // ictv masters species list
  ictv_csv     = "${projectDir}/assets/ICTV_masterspecieslist_5_11_25.csv" // update as you see fit by downloading new versions

  // deep6 params
  deep6_minlen = 250
  deep6_dir    = "${params.dbdir}/deep6/Deep6" // stable location where the cloned repo will live
  deep6_model  = null                 // user override optional

  // virsorter2 params
  run_virsorter2            = true
  virsorter2_db             = null // optional user-supplied database directory
  virsorter2_auto_download  = true
  virsorter2_version        = '2.2.4'
  vs2_min_length = 1500 // minimum sequence length
  vs2_min_score  = 0.5  // minimum virus score to keep classification
  vs2_groups_dna = "dsDNAphage,ssDNA,NCLDV,lavidaviridae"   // Can be adjusted based on the source of your data
  vs2_groups_rna = "dsDNAphage,ssDNA,NCLDV,lavidaviridae,RNA" // Can be adjusted based on the source of your data


  // --- Cenote-Taker3 ---
  ct3_db_dir        = "${params.dbdir}/ct3_DBs"   // recommend a shared, persistent location
  ct3_use_hhsuite   = true                        // optional: more sensitive, bigger DBs
  ct3_mode        = "viruses"        // or whatever mode you plan to use; CT3 supports multiple workflows
  ct3_min_length  = 1000             // typical contig min length cutoff (tune later)
  ct3_threads     = params.threads   // default to global threads
  prophage        = "F"                // Change to "T" if you want cenotetaker3 to "Attempt to identify and remove flanking chromosomal regions from non-circular contigs with viral hallmarks (True is highly recommended for sequenced material not enriched for viruses. Virus-enriched samples probably should be False (you might check enrichment with ViromeQC). Also, please use False if --lin_minimum_hallmark_genes is set to 0)"
  ct3_caller      = "adaptive"       // Can be set as prodigal-gv,prodigal,phanotate, or adaptive. From ct3 help: "ORF caller for viruses. default: prodigal-gv prodigal-gv: prodigal-gv only (prodigal with extra models for unusual viruses) (meta mode) prodigal: prodigal classic only (meta mode). phanotate: phanotate only Note: phanotate takes longer than prodigal, exponentially so for LONG input contigs. adaptive: will choose based on preliminary taxonomy call (phages= phanotate, others = prodigal-gv)"
  ct3_hh          = "none"               // Can be set to: none,hhblits, or hhsearch. From ct3 help: default: none -- hhblits: query any of PDB, pfam, and CDD (depending on what is installed) to annotate ORFs escaping identification via upstream methods. hhsearch: a more sensitive tool, will query PDB, pfam, and CDD (depending on what is installed) to annotate ORFs. (WARNING: hhsearch takes much, much longer than hhblits and can extend the duration of the run many times over. Do not use on large input contig files). 'none': forgoes annotation of ORFs with hhsuite. Fastest way to complete a run."
  ct3_taxdb       = "hallmark"              // Can be set to either: refseq or hallmark. From ct3 help: Default: hallmark -- Which taxonomy database to use, just refseq virus OR virus hallmark genes from nr virus containing genus, family, and class taxonomy labels and clustered at 90 percent AAI plus all hallmark genes from refseq virus"
  ct3_domaindb    = "virion rdrp dnarep"              // Can be set to one or more of the following: virion,rdrp,dnarep. From ct3 help: default: virion rdrp -- Hits to which domain types should count as hallmark genes? 'virion' database: genes encoding virion structural proteins, packaging proteins, or capsid maturation proteins (DNA and RNA genomes) with LOWEST false discovery rate. 'rdrp' database: For RNA virus-derived RNA-dependent RNA polymerase. 'dnarep' database: replication genes of DNA viruses. mostly useful for small DNA viruses, e.g. CRESS viruses"
  ct3_minlen_circ = "1000"                  // ct3 help: "Default: 1000 -- Minimum length of contigs to be checked for circularity. Bare minimun is 1000 nts."
  ct3_cir_minhall = "1"                 //ct3 help: "Default:1 -- Number of detected viral hallmark genes on a circular contig to be considered viral and recieve full annotation. For samples physically enriched for virus particles, '0' can be used, but please treat circular contigs without known viral domains cautiously. For unenriched samples, '1' might be more suitable."
  ct3_minlen_lin  = "1000"              // ct3 help: Default: 1000 -- Minimum length of non-circualr contigs to be checked for viral hallmark genes.
  ct3_lin_minhall = "1"                 // ct3 help: Default: 1 -- Number of detected viral hallmark genes on a non-circular contig to be considered viral and recieve full annotation. '2' might be more suitable, yielding a false positive rate near 0.
  ct3_genb = "F"                        // ct3 help: Default: True -- Make GenBank files (.gbf, .sqn, .fsa, .tbl, .cmt, etc)?

  // VITAP 
  vitap_vmr_csv   = "${projectDir}/assets/msl40_3_1_26.csv" // can change and specify updated file in the future
  vitap_db_label  = "VMR-MSL40"                       // name for DB folder DB_<label>
  vitap_dir       = "${params.dbdir}/vitap"           // tool-specific DB root under global dbdir

  // VICAT
  vicat_dir       = "${params.dbdir}/vicat"   // tool-specific DB root under global dbdir
  
  // GiantHunter
  gianthunter_dir   = "${params.dbdir}/gianthunter"

  // VirBot
  virbot_repo_dir = "${params.dbdir}/virbot/repo" //clone VirBot git repo (https://github.com/GreyGuoweiChen/VirBot/tree/main) to this location or set path to specific location on machine
  virbot_db_dir  = "${params.dbdir}/virbot/ref" // Download and place VirBot DB the viSUM datbase directory OR any place, just provide the accurate path

  // VCONTACT3
  vcontact3_dir = "${params.dbdir}/vcontact3/"
  
}

timeline {
  enabled = true
  file    = "${params.outdir}/reports/timeline.html"
}
report {
  enabled = true
  file    = "${params.outdir}/reports/report.html"
}
trace {
  enabled = true
  file    = "${params.outdir}/reports/trace.txt"
}
dag {
  enabled = true
  file    = "${params.outdir}/reports/dag.png"
}

process {
  executor      = 'local'
  cpus          = { params.threads }
  memory        = { params.memory }
  time          = { params.time }
  errorStrategy = 'retry'
  maxRetries    = 1
}

profiles {

  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    process.queue    = 'standard'
    process.time     = '12h'
    // process.clusterOptions = '--account=myaccount'  // optional
  }

  docker {
    docker.enabled    = true
    docker.pull       = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  singularity {
    singularity.enabled   = true
    singularity.autoMounts = true
  }
}

// Conda settings (GLOBAL)
conda.enabled  = true
conda.useMamba = true
conda.cacheDir = "${projectDir}/.conda"

workDir            = "./work"
cleanup            = false
executor.queueSize = 100
